<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="flightagency" 
             connectionString="Data Source=C:\Users\ioana\OneDrive\Documents\Facultate\Semestrul 4\Medii de Proiectare si Programare\Laborator\C#\Flight_Agency\bin\Debug\flightagency.db;"/>
    </connectionStrings>
</configuration>